*{
    box-sizing: border-box;
}
div{
    display: inline-block;
}
.content{
    background: blue;
}
.container{
    width:960px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center
}
.col-12{
    width:100%;
    background: red;
}
.col-11{
    width: calc(100%/12 * 11);
    background: red;
}
.col-10{
    width: calc(100%/12 * 10);
    background: red;
}
.col-9{
    width:calc(100%/12 * 9);
    background: red;
}
.col-8{
    width:calc(100%/12 * 8);
    background: red;
}
.col-7{
    width:calc(100%/12 * 7);
    background: red;
}
.col-6{
    width:calc(100%/12 * 6);
    background: red;
}
.col-5{
    width:calc(100%/12 * 5);
    background: red;
}
.col-4{
    width:calc(100%/12 * 4);
    background: red;
}
.col-3{
    width:calc(100%/12 * 3);
    background: red;
}
.col-2{
    width:calc(100%/12 * 2);
    background: red;
}
.col-1{
    width:calc(100%/12);
    background: red;
}
@media (max-width:720px){
    .col-12{
        width:100%;
        background: red;
    }
    .col-11{
        width:100%;
        background: red;
    }
    .col-10{
        width:100%;
        background: red;
    }
    .col-9{
        width:100%;
        background: red;
    }
    .col-8{
        width:100%;
        background: red;
    }
    .col-7{
        width:100%;
        background: red;
    }
    .col-6{
        width:100%;
        background: red;
    }
    .col-5{
        width:100%;
        background: red;
    }
    .col-4{
        width:100%;
        background: red;
    }
    .col-3{
        width:100%;
        background: red;
    }
    .col-2{
        width:100%;
        background: red;
    }
    .col-1{
        width:100%;
        background: red;
    }
}